body {
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: rgb(41, 41, 41);
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  margin: 0%;
}

.ui {
  display: flex;
  width: 400px;
}

.white-link {
  margin-top: 10px;
  margin-right: 5px;
  background-color: rgba(240, 248, 255, 0);
  color: white;
  text-decoration: none;
  vertical-align: middle;
  transition: 0.2s;
}

.white-link:hover {
  margin-top: 10px;
  margin-right: 5px;
  background-color: rgba(240, 248, 255, 0);
  color: lightseagreen;
  text-decoration: none;
  vertical-align: middle;
  transition: 0.2s;
}

.material-symbols-outlined {
  vertical-align: sub;
}

@media screen and (max-width: 99999999px) {
  div.window-pc {
    display: block;
  }

  div.window-phone {
    display: none;
  }

  div.window-tablet {
    display: none;
  }
}
@media screen and (max-width: 925px) {
  div.window-pc {
    display: none;
  }

  div.window-phone {
    display: none;
  }

  div.window-tablet {
    display: block;
  }
}
@media screen and (max-width: 560px) {
  div.window-pc {
    display: none;
  }

  div.window-phone {
    display: block;
  }

  div.window-tablet {
    display: none;
  }
}


.menu-center {
  text-align: center;
  margin: 0px;
  padding-top: 45vh;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: white;
}

.menu-select-border {
  width: 300px;
  height: 400px;
  display: flex;
  margin: 0 auto;
}

.menu-white-links {
  color: rgb(8, 184, 14);
  text-decoration: none;
  font-size: 20px;
}


div.center {
  padding-top: 30px;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  text-align: center;
}

div.box {
  max-width: 600px;
  text-align: left;
}

.searchbox {
  width: 80%;
  border-radius: 25px;
  background-color: white;
  border-color: rgb(132, 132, 132);
  border-width: 1em;
  border-style:hidden;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

.searchbox:active {
  width: 80%;
  border-radius: 25px;
  background-color: rgb(216, 216, 216);
  border-color: rgb(132, 132, 132);
  border-width: 1em;
  border-style:hidden;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

.searcharea {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 300px;
}

.searchenter {
  width: 80px;
  border-radius: 25px;
  background-color: white;
  border-color: rgb(132, 132, 132);
  border-width: 1em;
  border-style:hidden;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

.searchenter:active {
  width: 80px;
  border-radius: 25px;
  background-color: rgb(182, 19, 19);
  border-color: rgb(132, 132, 132);
  border-width: 1em;
  border-style:hidden;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  color: white;
}

.select-text-sys {
  text-align: left;
  color: black;
  text-decoration: none;
  background-color: white;
  font-size: larger;
}

.sys-select {
  transition: 0.3s;
  margin: 0 auto;
  text-align: center;
  max-width: 1010px;
  background-color: white;
  margin: 5px;
}


.acd-check{
  display: none;
}
.acd-label{
  background: #333;
  color: #fff;
  display: block;
  margin-bottom: 1px;
  padding: 10px;
}
.acd-content{
  border: 1px solid #333;
  height: 0;
  opacity: 0;
  padding: 0 10px;
  transition: .5s;
  visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-content{
  height: 40px;
  opacity: 1;
  padding: 10px;
  visibility: visible;
}

.openchat-url {
  transition: 0.4s;
  color: black;
  text-decoration: none;
  padding: 10px;
  border: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 3px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.openchat-url:hover {
  transition: 0.4s;
  color: rgb(0, 157, 255);
  text-decoration: none;
  padding: 10px;
  border: solid;
  border-color: rgb(0, 157, 255);
  border-radius: 5px;
  border-width: 3px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.center2 {
  min-width: 85vw;
  padding: 5px;
}

.search-box {
  width: 100%;
  border: solid;
  border-color: #33333300;
  padding: 5px;
  background-color: white;
}

.search-box:hover {
  width: 100%;
  border: solid;
  border-color: #333;
  padding: 5px;
  background-color: white;
}

#myUL {
  list-style: none;
  width: 100%;
  padding: 0px;
}

#myUL li {
  background-color: #333;
  text-align: left;
  padding: 10px;
}

.myULtext {
  text-align: left;
  text-decoration: none;
  width: 100%;
  color: white;
}

.search-box2 {
  width: 100%;
  height: 60px;
  border: solid;
  border-color: #333333;
  padding: 5px;
  background-color: white;
}